<% layout('layouts/boilerPlate') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="display-6">Sign Up</h1>
        <form action="/register" method="post">
            <div>
                <label for="" class="form-label">Username: </label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div>
                <label for="" class="form-label">Email: </label>
                <input type="email" class="form-control" name="email" placeholder="email">
            </div>
            <div class="mb-3">
                <p class="mb-2">want to register as ?</p>
                <div class="mb-2">
                    <label for="" class="form-label">Buyer: </label>
                    <input type="radio" class="form-check-input" name="role" id="buyer" value="buyer">
                </div>
                <div class="mb-2">
                    <label for="" class="form-label">Seller: </label>
                    <input type="radio" class="form-check-input" name="role" id="seller" value="seller">
                </div>

            </div>
            <div>
                <label for="" class="form-label">password: </label>
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button class="btn btn-sm btn-success">Sign Up</button>

            <p class="fw-light mt-2">already have an account, <a href="/login">Longin</a></p>
        </form>
    </div>
</div>