<% layout('layouts/boilerPlate') %>
  <%- include('../partials/navbar') %>
    <!-- layout mai boilerplate dediya -->
    <!-- input ke name mai woh hi naam daalo joh DB ke schema mai naam dala hai -->
    <div class="error-container">
        <h1>There were some errors with your submission:</h1>
    
            <li><%= err %></li>
    </div>
